.tabla{
    background-color: white;
}
h2{
    color: white;
}
.portada{
    background-color: aqua;
}
h1{
    color: white;
}
body{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}