h2{
    color: white;
}
.tabla{
    background-color: white;
}
body{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.portada{
    background-color: aqua;
}
h1{
    color: white;
}
.TRE{
    background-color: beige;
}