*{
    margin: 0;
    padding: 0;
}
.padre{
    background-color: darksalmon;
}
.hijo{
    background-color: rgb(255, 148, 148);
}
.fila_amarillo{
   background-color: white;
   border-color: red;
}
.borde{
    
    border-color: aqua;
}